[global_config]
  window_state = maximise
  tab_position = hidden
  title_hide_sizetext = True
  enabled_plugins = LaunchpadCodeURLHandler,
  suppress_multiple_term_dialog = True
[keybindings]
  rotate_cw = <Primary>less
  rotate_ccw = <Primary><Shift>greater
  page_up = <Primary>Home
  page_down = <Primary>End
[profiles]
  [[default]]
    background_color = "#272822"
    cursor_color = "#fcfcfa"
    cursor_color_fg = False
    font = Source Code Variable Semi-Bold 9
    foreground_color = "#fcfcfa"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#d3d7cf:#fc9867:#73ad39:#ffd866:#ff6188:#ab9df2:#35aebd:#fcfcfa:#d3d7cf:#fc9867:#73ad39:#ffd866:#ff6188:#ab9df2:#35aebd:#fcfcfa"
    use_system_font = False
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
